div {
    width: 65px;
    height: 65px;
    line-height: 65px;
    border: 3px solid gray;
    border-radius: 65px; /* Hace el div redondo */
    padding: 7px;
    float: left;
    font-size: 38px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-right: 10px;
    margin-top: 16px;
    color: white;
    background-color: #4A90E2; /* Cambia el color de fondo a tu gusto */
}

.contenedor-letras {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px;
}

